In [1]:
import re
import pandas as pd

In [27]:
file=open('ITCONSOLELOG.txt','r')

In [33]:
t=file.read()

In [36]:
x=t.splitlines()
len(x)

32386

In [45]:
z=pd.DataFrame(x)

Object `head` not found.

In [41]:
x.str.contains('CssrCardProvider:330')

AttributeError: 'list' object has no attribute 'str'

In [25]:
df=pd.DataFrame(text,columns=['text'])
df

ValueError: DataFrame constructor not properly called!

In [5]:
df['text'].str.len()

0    47
1    50
2    48
3    49
4    55
Name: text, dtype: int64

In [7]:
df['text'].str.split().str.len()

0     8
1     8
2     9
3    10
4    11
Name: text, dtype: int64

In [8]:
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [21]:
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [23]:
df['text'].str.extractall(r'(\d?\d):(\d\d)')

          0   1
  match
0 0       2  45
1 0      11  30
2 0       7  00
3 0      11  15
4 0      08  10
  1      09  00