In [1]:
name='michael jackson'
name.find('el')

5

In [2]:
tup=('a','b','c')
tup[-1]

'c'

In [3]:
A=((11,12),[21,22])
A[0][1]

12

In [5]:
'1,2,3'.split(',')

['1', '2', '3']

In [7]:
v={'a','b'}
v.add('c')
v

{'a', 'b', 'c'}

In [9]:
for n in range(3):
    print(n)

0
1
2

In [10]:
def Add(x,y):
    z=y+x
    return(y)

In [12]:
Add('1','1')

'1'

In [16]:
class Points(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y
        
    def print_point(self):
        print('x=',self.x,' y=',self.y)
        
p1=Points(1,2)
p1.print_point()

x= 1  y= 2

# Matplotlib